html
    head
        title!= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet', href='css/bootstrap.min.css')
        script(src='scripts/jquery-2.1.4.min.js')
        script(src='scripts/bootstrap.min.js')
        script.
            var host = location.origin.replace(/^http/, 'ws')
            websocket = new WebSocket(host)
        script(src='scripts/csgobans.js')
    body
        #container.container
            div.row
                div.text-center
                    h1= "Your ban: "
                        span#yourban
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/dust2.jpg" id="dust2")
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/mirage.jpg" id="mirage")
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/cache.jpg" id="cache")
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/cobblestone.jpg" id="cobblestone")
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/inferno.jpg" id="inferno")
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/overpass.jpg" id="overpass")
            div.col-sm-3.col-lg-4
            div.col-sm-6.col-lg-4
                img.img-thumbnail(src="images/train.jpg" id="train")